.cards{
    display: grid;
    padding-inline: 80px;
    justify-items: center;
    align-items: center;
    padding-block: 50px;
    div{
        h2{
            font-family: "Roboto", serif;
            background-image: linear-gradient(to right, rgb(149, 114, 252), rgb(67, 231, 173), rgb(226, 212, 92));
            background-clip:text;
            color: transparent;
            font-size: 40px;

            justify-self: center;
        }
        p{
            color: whitesmoke;
            font-family: "Pacifico", serif;
            font-size: 20px;
            justify-self: center;
            margin-bottom: 15px;
        }
    }

    .image-container{
        flex: 1;
        width: 100%;
        max-width: 500px;
        align-items: center;
        overflow: hidden;
        border-radius: 25px;
        img{
            object-fit: cover;
            height: 600px;
            width: 100%;
        }
    }
}
@media (min-width: 1050px){

}
