.cards{
    display: flex;
    flex-direction: column;
    margin-block: 50px;
    padding: 15px;
    border-radius: 25px;
    background-color: #040D22;
    width: 500px;
    justify-content: center;
    align-items: center;

    h2{
        font-family: "Roboto", serif;
        background-image: linear-gradient(to right, rgb(149, 114, 252), rgb(67, 231, 173), rgb(226, 212, 92));
        background-clip:text;
        color: transparent;
        font-size: 40px;
    }

    .image-container{
        max-width: 80%;
        align-items: center;
        overflow: hidden;
        border-radius: 25px;
        img{
            border-radius: 25px;
            object-fit: cover;
            height: 600px;
            width: auto;
        }
    }

    p{
        color: whitesmoke;
        font-family: "Pacifico", serif;
        font-size: 20px;
        justify-self: center;
        margin-bottom: 15px;
    }
}

@media (width < 1050px){
    .cards{
        max-width: 400px;
    }
    .image-container{
        img{
            object-fit: contain;
            height: 400px;
            min-width: 400px;
        }
    }

}
