*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #040D22;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

header{
    background: black;
    display: flex;
    justify-content: center;
    height: 200px;
    h1{
        align-self: center;
        color: white;
        font-size: 59px;
        font-family: "Lilita One", serif; 
    }
}

@media (width < 1050px) {
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}