*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #010307;
    overflow-x: hidden;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
}

header{
    background: black;
    display: flex;
    justify-content: center;
    height: 200px;
    h1{
        align-self: center;
        color: white;
        font-size: 59px;
        font-family: "Lilita One", serif; 
    }
}

@media (width < 1050px) {
    main{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
}